<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>servlet.ClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/clientclient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientCUD</servlet-name>
        <servlet-class>servlet.ClientCUD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clientCUD</servlet-name>
        <url-pattern>/client_crud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exhibitionServlet</servlet-name>
        <servlet-class>servlet.ExhibitionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exhibitionServlet</servlet-name>
        <url-pattern>/exhibition</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exhibitionCud</servlet-name>
        <servlet-class>servlet.ExhibitionCUD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exhibitionCud</servlet-name>
        <url-pattern>/exhibition_crud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exhibitServlet</servlet-name>
        <servlet-class>servlet.ExhibitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exhibitServlet</servlet-name>
        <url-pattern>/exhibit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exhibitCud</servlet-name>
        <servlet-class>servlet.ExhibitCUD</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exhibitCud</servlet-name>
        <url-pattern>/exhibit_crud</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>servlet.TicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>servlet.HallsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDeleteServlet</servlet-name>
        <servlet-class>servlet.UpdateDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/hall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDeleteServlet</servlet-name>
        <url-pattern>/update_delete</url-pattern>
    </servlet-mapping>


</web-app>